<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate">
    <div class="logo">
    </div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu>
        <span title><i class="anticon anticon-api"></i><span class="nav-text">设备管理</span></span>
        <ul>
          <li nz-menu-item>设备列表</li>
          <li nz-menu-item>产品管理</li>
          <li nz-menu-item>数据通道</li>
          <li nz-menu-item>数据单元</li>
        </ul>
      </li>
      <li nz-submenu>
        <span title><i class="anticon anticon-user"></i><span class="nav-text">User</span></span>
        <ul>
          <li nz-menu-item>用户</li>
          <li nz-menu-item>角色</li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header style="background: #fff; padding:0;">
      <i class="anticon trigger" [class.anticon-menu-fold]="!isCollapsed" [class.anticon-menu-unfold]="isCollapsed" (click)="isCollapsed=!isCollapsed"></i>
      <span routerLink="../login">login </span>
    </nz-header>
    <nz-content style="margin:0 16px;">
      <nz-breadcrumb style="margin:16px 0;">
        <nz-breadcrumb-item>User</nz-breadcrumb-item>
        <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div style="padding:24px; background: #fff; min-height: 360px;">
          <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer style="text-align: center;">sunseaiot ©2018</nz-footer>
  </nz-layout>
</nz-layout>
<ng-template #trigger>
  <i class="anticon anticon-up"></i>
</ng-template>

